<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<import resource="classpath:spring/applicationContext-servlet.xml"/>
	<import resource="classpath:spring/applicationContext-redis.xml"/>
	<import resource="classpath:spring/applicationContext-mongdb.xml"/>
	<import resource="classpath:spring/applicationContext-mysql.xml"/>
	<import resource="classpath:spring/applicationContext-rms-third.xml"/>
	<import resource="classpath:spring/spring-timer.xml"/>
	<import resource="classpath:spring/applicationContext-disconf.xml"/>
	<!--<import resource="classpath:spring/applicationContext-interface.xml"/>-->
</beans>