<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzfq.rms.third.persistence.mapper.TGpjTransferLogMapper">
  <resultMap id="BaseResultMap" type="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    <id column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="c_interface_key" jdbcType="VARCHAR" property="cInterfaceKey" />
    <result column="c_traceId" jdbcType="VARCHAR" property="cTraceid" />
    <result column="c_system_id" jdbcType="VARCHAR" property="cSystemId" />
    <result column="c_pro_line" jdbcType="VARCHAR" property="cProLine" />
    <result column="c_channel" jdbcType="VARCHAR" property="cChannel" />
    <result column="c_params" jdbcType="VARCHAR" property="cParams" />
    <result column="c_status" jdbcType="CHAR" property="cStatus" />
    <result column="c_msg" jdbcType="VARCHAR" property="cMsg" />
    <result column="n_del" jdbcType="INTEGER" property="nDel" />
    <result column="c_ip" jdbcType="VARCHAR" property="cIp" />
    <result column="dt_create_time" jdbcType="TIMESTAMP" property="dtCreateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    <result column="c_msg_detail" jdbcType="LONGVARCHAR" property="cMsgDetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_id, c_interface_key, c_traceId, c_system_id, c_pro_line, c_channel, c_params, c_status, 
    c_msg, n_del, c_ip, dt_create_time
  </sql>
  <sql id="Blob_Column_List">
    c_msg_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jzfq.rms.third.common.domain.example.TGpjTransferLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_gpj_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jzfq.rms.third.common.domain.example.TGpjTransferLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gpj_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_gpj_transfer_log
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_gpj_transfer_log
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzfq.rms.third.common.domain.example.TGpjTransferLogExample">
    delete from t_gpj_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    insert into t_gpj_transfer_log (c_id, c_interface_key, c_traceId, 
      c_system_id, c_pro_line, c_channel, 
      c_params, c_status, c_msg, 
      n_del, c_ip, dt_create_time, 
      c_msg_detail)
    values (#{cId,jdbcType=VARCHAR}, #{cInterfaceKey,jdbcType=VARCHAR}, #{cTraceid,jdbcType=VARCHAR}, 
      #{cSystemId,jdbcType=VARCHAR}, #{cProLine,jdbcType=VARCHAR}, #{cChannel,jdbcType=VARCHAR}, 
      #{cParams,jdbcType=VARCHAR}, #{cStatus,jdbcType=CHAR}, #{cMsg,jdbcType=VARCHAR}, 
      #{nDel,jdbcType=INTEGER}, #{cIp,jdbcType=VARCHAR}, #{dtCreateTime,jdbcType=TIMESTAMP}, 
      #{cMsgDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    insert into t_gpj_transfer_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cInterfaceKey != null">
        c_interface_key,
      </if>
      <if test="cTraceid != null">
        c_traceId,
      </if>
      <if test="cSystemId != null">
        c_system_id,
      </if>
      <if test="cProLine != null">
        c_pro_line,
      </if>
      <if test="cChannel != null">
        c_channel,
      </if>
      <if test="cParams != null">
        c_params,
      </if>
      <if test="cStatus != null">
        c_status,
      </if>
      <if test="cMsg != null">
        c_msg,
      </if>
      <if test="nDel != null">
        n_del,
      </if>
      <if test="cIp != null">
        c_ip,
      </if>
      <if test="dtCreateTime != null">
        dt_create_time,
      </if>
      <if test="cMsgDetail != null">
        c_msg_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cInterfaceKey != null">
        #{cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="cTraceid != null">
        #{cTraceid,jdbcType=VARCHAR},
      </if>
      <if test="cSystemId != null">
        #{cSystemId,jdbcType=VARCHAR},
      </if>
      <if test="cProLine != null">
        #{cProLine,jdbcType=VARCHAR},
      </if>
      <if test="cChannel != null">
        #{cChannel,jdbcType=VARCHAR},
      </if>
      <if test="cParams != null">
        #{cParams,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        #{cStatus,jdbcType=CHAR},
      </if>
      <if test="cMsg != null">
        #{cMsg,jdbcType=VARCHAR},
      </if>
      <if test="nDel != null">
        #{nDel,jdbcType=INTEGER},
      </if>
      <if test="cIp != null">
        #{cIp,jdbcType=VARCHAR},
      </if>
      <if test="dtCreateTime != null">
        #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMsgDetail != null">
        #{cMsgDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzfq.rms.third.common.domain.example.TGpjTransferLogExample" resultType="java.lang.Long">
    select count(*) from t_gpj_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_gpj_transfer_log
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cInterfaceKey != null">
        c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="record.cTraceid != null">
        c_traceId = #{record.cTraceid,jdbcType=VARCHAR},
      </if>
      <if test="record.cSystemId != null">
        c_system_id = #{record.cSystemId,jdbcType=VARCHAR},
      </if>
      <if test="record.cProLine != null">
        c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      </if>
      <if test="record.cChannel != null">
        c_channel = #{record.cChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.cParams != null">
        c_params = #{record.cParams,jdbcType=VARCHAR},
      </if>
      <if test="record.cStatus != null">
        c_status = #{record.cStatus,jdbcType=CHAR},
      </if>
      <if test="record.cMsg != null">
        c_msg = #{record.cMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.nDel != null">
        n_del = #{record.nDel,jdbcType=INTEGER},
      </if>
      <if test="record.cIp != null">
        c_ip = #{record.cIp,jdbcType=VARCHAR},
      </if>
      <if test="record.dtCreateTime != null">
        dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cMsgDetail != null">
        c_msg_detail = #{record.cMsgDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_gpj_transfer_log
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      c_traceId = #{record.cTraceid,jdbcType=VARCHAR},
      c_system_id = #{record.cSystemId,jdbcType=VARCHAR},
      c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      c_channel = #{record.cChannel,jdbcType=VARCHAR},
      c_params = #{record.cParams,jdbcType=VARCHAR},
      c_status = #{record.cStatus,jdbcType=CHAR},
      c_msg = #{record.cMsg,jdbcType=VARCHAR},
      n_del = #{record.nDel,jdbcType=INTEGER},
      c_ip = #{record.cIp,jdbcType=VARCHAR},
      dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP},
      c_msg_detail = #{record.cMsgDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_gpj_transfer_log
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      c_traceId = #{record.cTraceid,jdbcType=VARCHAR},
      c_system_id = #{record.cSystemId,jdbcType=VARCHAR},
      c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      c_channel = #{record.cChannel,jdbcType=VARCHAR},
      c_params = #{record.cParams,jdbcType=VARCHAR},
      c_status = #{record.cStatus,jdbcType=CHAR},
      c_msg = #{record.cMsg,jdbcType=VARCHAR},
      n_del = #{record.nDel,jdbcType=INTEGER},
      c_ip = #{record.cIp,jdbcType=VARCHAR},
      dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    update t_gpj_transfer_log
    <set>
      <if test="cInterfaceKey != null">
        c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="cTraceid != null">
        c_traceId = #{cTraceid,jdbcType=VARCHAR},
      </if>
      <if test="cSystemId != null">
        c_system_id = #{cSystemId,jdbcType=VARCHAR},
      </if>
      <if test="cProLine != null">
        c_pro_line = #{cProLine,jdbcType=VARCHAR},
      </if>
      <if test="cChannel != null">
        c_channel = #{cChannel,jdbcType=VARCHAR},
      </if>
      <if test="cParams != null">
        c_params = #{cParams,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        c_status = #{cStatus,jdbcType=CHAR},
      </if>
      <if test="cMsg != null">
        c_msg = #{cMsg,jdbcType=VARCHAR},
      </if>
      <if test="nDel != null">
        n_del = #{nDel,jdbcType=INTEGER},
      </if>
      <if test="cIp != null">
        c_ip = #{cIp,jdbcType=VARCHAR},
      </if>
      <if test="dtCreateTime != null">
        dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMsgDetail != null">
        c_msg_detail = #{cMsgDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    update t_gpj_transfer_log
    set c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      c_traceId = #{cTraceid,jdbcType=VARCHAR},
      c_system_id = #{cSystemId,jdbcType=VARCHAR},
      c_pro_line = #{cProLine,jdbcType=VARCHAR},
      c_channel = #{cChannel,jdbcType=VARCHAR},
      c_params = #{cParams,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=CHAR},
      c_msg = #{cMsg,jdbcType=VARCHAR},
      n_del = #{nDel,jdbcType=INTEGER},
      c_ip = #{cIp,jdbcType=VARCHAR},
      dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
      c_msg_detail = #{cMsgDetail,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.third.common.domain.TGpjTransferLog">
    update t_gpj_transfer_log
    set c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      c_traceId = #{cTraceid,jdbcType=VARCHAR},
      c_system_id = #{cSystemId,jdbcType=VARCHAR},
      c_pro_line = #{cProLine,jdbcType=VARCHAR},
      c_channel = #{cChannel,jdbcType=VARCHAR},
      c_params = #{cParams,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=CHAR},
      c_msg = #{cMsg,jdbcType=VARCHAR},
      n_del = #{nDel,jdbcType=INTEGER},
      c_ip = #{cIp,jdbcType=VARCHAR},
      dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>