<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzfq.rms.third.persistence.mapper.TThirdTdHitRulesDataMapper" >
  <resultMap id="BaseResultMap" type="com.jzfq.rms.third.common.domain.TThirdTdHitRulesData" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_policy_uuid" property="cPolicyUuid" jdbcType="VARCHAR" />
    <result column="c_decision" property="cDecision" jdbcType="VARCHAR" />
    <result column="c_score" property="cScore" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_uuid" property="cUuid" jdbcType="VARCHAR" />
    <result column="c_parentUuid" property="cParentuuid" jdbcType="VARCHAR" />
    <result column="c_rule_id" property="cRuleId" jdbcType="VARCHAR" />
    <result column="c_creatTime" property="cCreattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, c_policy_uuid, c_decision, c_score, c_name, c_uuid, c_parentUuid, c_rule_id, 
    c_creatTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTdHitRulesDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_third_td_hit_rules_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_third_td_hit_rules_data
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_third_td_hit_rules_data
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTdHitRulesDataExample" >
    delete from t_third_td_hit_rules_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzfq.rms.third.common.domain.TThirdTdHitRulesData" >
    insert into t_third_td_hit_rules_data (c_id, c_policy_uuid, c_decision, 
      c_score, c_name, c_uuid, 
      c_parentUuid, c_rule_id, c_creatTime
      )
    values (#{cId,jdbcType=VARCHAR}, #{cPolicyUuid,jdbcType=VARCHAR}, #{cDecision,jdbcType=VARCHAR}, 
      #{cScore,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{cUuid,jdbcType=VARCHAR}, 
      #{cParentuuid,jdbcType=VARCHAR}, #{cRuleId,jdbcType=VARCHAR}, #{cCreattime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzfq.rms.third.common.domain.TThirdTdHitRulesData" >
    insert into t_third_td_hit_rules_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cPolicyUuid != null" >
        c_policy_uuid,
      </if>
      <if test="cDecision != null" >
        c_decision,
      </if>
      <if test="cScore != null" >
        c_score,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cUuid != null" >
        c_uuid,
      </if>
      <if test="cParentuuid != null" >
        c_parentUuid,
      </if>
      <if test="cRuleId != null" >
        c_rule_id,
      </if>
      <if test="cCreattime != null" >
        c_creatTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cPolicyUuid != null" >
        #{cPolicyUuid,jdbcType=VARCHAR},
      </if>
      <if test="cDecision != null" >
        #{cDecision,jdbcType=VARCHAR},
      </if>
      <if test="cScore != null" >
        #{cScore,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cUuid != null" >
        #{cUuid,jdbcType=VARCHAR},
      </if>
      <if test="cParentuuid != null" >
        #{cParentuuid,jdbcType=VARCHAR},
      </if>
      <if test="cRuleId != null" >
        #{cRuleId,jdbcType=VARCHAR},
      </if>
      <if test="cCreattime != null" >
        #{cCreattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTdHitRulesDataExample" resultType="java.lang.Integer" >
    select count(*) from t_third_td_hit_rules_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_third_td_hit_rules_data
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cPolicyUuid != null" >
        c_policy_uuid = #{record.cPolicyUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cDecision != null" >
        c_decision = #{record.cDecision,jdbcType=VARCHAR},
      </if>
      <if test="record.cScore != null" >
        c_score = #{record.cScore,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cUuid != null" >
        c_uuid = #{record.cUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cParentuuid != null" >
        c_parentUuid = #{record.cParentuuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cRuleId != null" >
        c_rule_id = #{record.cRuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.cCreattime != null" >
        c_creatTime = #{record.cCreattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_third_td_hit_rules_data
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_policy_uuid = #{record.cPolicyUuid,jdbcType=VARCHAR},
      c_decision = #{record.cDecision,jdbcType=VARCHAR},
      c_score = #{record.cScore,jdbcType=VARCHAR},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_uuid = #{record.cUuid,jdbcType=VARCHAR},
      c_parentUuid = #{record.cParentuuid,jdbcType=VARCHAR},
      c_rule_id = #{record.cRuleId,jdbcType=VARCHAR},
      c_creatTime = #{record.cCreattime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.third.common.domain.TThirdTdHitRulesData" >
    update t_third_td_hit_rules_data
    <set >
      <if test="cPolicyUuid != null" >
        c_policy_uuid = #{cPolicyUuid,jdbcType=VARCHAR},
      </if>
      <if test="cDecision != null" >
        c_decision = #{cDecision,jdbcType=VARCHAR},
      </if>
      <if test="cScore != null" >
        c_score = #{cScore,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cUuid != null" >
        c_uuid = #{cUuid,jdbcType=VARCHAR},
      </if>
      <if test="cParentuuid != null" >
        c_parentUuid = #{cParentuuid,jdbcType=VARCHAR},
      </if>
      <if test="cRuleId != null" >
        c_rule_id = #{cRuleId,jdbcType=VARCHAR},
      </if>
      <if test="cCreattime != null" >
        c_creatTime = #{cCreattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.third.common.domain.TThirdTdHitRulesData" >
    update t_third_td_hit_rules_data
    set c_policy_uuid = #{cPolicyUuid,jdbcType=VARCHAR},
      c_decision = #{cDecision,jdbcType=VARCHAR},
      c_score = #{cScore,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_uuid = #{cUuid,jdbcType=VARCHAR},
      c_parentUuid = #{cParentuuid,jdbcType=VARCHAR},
      c_rule_id = #{cRuleId,jdbcType=VARCHAR},
      c_creatTime = #{cCreattime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>