<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzfq.rms.third.persistence.mapper.TThirdTransferLogMapper">
  <resultMap id="BaseResultMap" type="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    <id column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="c_third_key" jdbcType="VARCHAR" property="cThirdKey" />
    <result column="c_interface_key" jdbcType="VARCHAR" property="cInterfaceKey" />
    <result column="c_pro_line" jdbcType="VARCHAR" property="cProLine" />
    <result column="c_channel" jdbcType="VARCHAR" property="cChannel" />
    <result column="c_params" jdbcType="VARCHAR" property="cParams" />
    <result column="c_status" jdbcType="CHAR" property="cStatus" />
    <result column="dt_create_time" jdbcType="TIMESTAMP" property="dtCreateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    <result column="c_msg" jdbcType="LONGVARCHAR" property="cMsg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_id, c_third_key, c_interface_key, c_pro_line, c_channel, c_params, c_status, dt_create_time
  </sql>
  <sql id="Blob_Column_List">
    c_msg
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTransferLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_third_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTransferLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_third_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_third_transfer_log
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_third_transfer_log
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTransferLogExample">
    delete from t_third_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    insert into t_third_transfer_log (c_id, c_third_key, c_interface_key, 
      c_pro_line, c_channel, c_params, 
      c_status, dt_create_time, c_msg
      )
    values (#{cId,jdbcType=VARCHAR}, #{cThirdKey,jdbcType=VARCHAR}, #{cInterfaceKey,jdbcType=VARCHAR}, 
      #{cProLine,jdbcType=VARCHAR}, #{cChannel,jdbcType=VARCHAR}, #{cParams,jdbcType=VARCHAR}, 
      #{cStatus,jdbcType=CHAR}, #{dtCreateTime,jdbcType=TIMESTAMP}, #{cMsg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    insert into t_third_transfer_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cThirdKey != null">
        c_third_key,
      </if>
      <if test="cInterfaceKey != null">
        c_interface_key,
      </if>
      <if test="cProLine != null">
        c_pro_line,
      </if>
      <if test="cChannel != null">
        c_channel,
      </if>
      <if test="cParams != null">
        c_params,
      </if>
      <if test="cStatus != null">
        c_status,
      </if>
      <if test="dtCreateTime != null">
        dt_create_time,
      </if>
      <if test="cMsg != null">
        c_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cThirdKey != null">
        #{cThirdKey,jdbcType=VARCHAR},
      </if>
      <if test="cInterfaceKey != null">
        #{cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="cProLine != null">
        #{cProLine,jdbcType=VARCHAR},
      </if>
      <if test="cChannel != null">
        #{cChannel,jdbcType=VARCHAR},
      </if>
      <if test="cParams != null">
        #{cParams,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        #{cStatus,jdbcType=CHAR},
      </if>
      <if test="dtCreateTime != null">
        #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMsg != null">
        #{cMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jzfq.rms.third.common.domain.example.TThirdTransferLogExample" resultType="java.lang.Long">
    select count(*) from t_third_transfer_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_third_transfer_log
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cThirdKey != null">
        c_third_key = #{record.cThirdKey,jdbcType=VARCHAR},
      </if>
      <if test="record.cInterfaceKey != null">
        c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="record.cProLine != null">
        c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      </if>
      <if test="record.cChannel != null">
        c_channel = #{record.cChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.cParams != null">
        c_params = #{record.cParams,jdbcType=VARCHAR},
      </if>
      <if test="record.cStatus != null">
        c_status = #{record.cStatus,jdbcType=CHAR},
      </if>
      <if test="record.dtCreateTime != null">
        dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cMsg != null">
        c_msg = #{record.cMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_third_transfer_log
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_third_key = #{record.cThirdKey,jdbcType=VARCHAR},
      c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      c_channel = #{record.cChannel,jdbcType=VARCHAR},
      c_params = #{record.cParams,jdbcType=VARCHAR},
      c_status = #{record.cStatus,jdbcType=CHAR},
      dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP},
      c_msg = #{record.cMsg,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_third_transfer_log
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_third_key = #{record.cThirdKey,jdbcType=VARCHAR},
      c_interface_key = #{record.cInterfaceKey,jdbcType=VARCHAR},
      c_pro_line = #{record.cProLine,jdbcType=VARCHAR},
      c_channel = #{record.cChannel,jdbcType=VARCHAR},
      c_params = #{record.cParams,jdbcType=VARCHAR},
      c_status = #{record.cStatus,jdbcType=CHAR},
      dt_create_time = #{record.dtCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    update t_third_transfer_log
    <set>
      <if test="cThirdKey != null">
        c_third_key = #{cThirdKey,jdbcType=VARCHAR},
      </if>
      <if test="cInterfaceKey != null">
        c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      </if>
      <if test="cProLine != null">
        c_pro_line = #{cProLine,jdbcType=VARCHAR},
      </if>
      <if test="cChannel != null">
        c_channel = #{cChannel,jdbcType=VARCHAR},
      </if>
      <if test="cParams != null">
        c_params = #{cParams,jdbcType=VARCHAR},
      </if>
      <if test="cStatus != null">
        c_status = #{cStatus,jdbcType=CHAR},
      </if>
      <if test="dtCreateTime != null">
        dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMsg != null">
        c_msg = #{cMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    update t_third_transfer_log
    set c_third_key = #{cThirdKey,jdbcType=VARCHAR},
      c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      c_pro_line = #{cProLine,jdbcType=VARCHAR},
      c_channel = #{cChannel,jdbcType=VARCHAR},
      c_params = #{cParams,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=CHAR},
      dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP},
      c_msg = #{cMsg,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.third.common.domain.TThirdTransferLog">
    update t_third_transfer_log
    set c_third_key = #{cThirdKey,jdbcType=VARCHAR},
      c_interface_key = #{cInterfaceKey,jdbcType=VARCHAR},
      c_pro_line = #{cProLine,jdbcType=VARCHAR},
      c_channel = #{cChannel,jdbcType=VARCHAR},
      c_params = #{cParams,jdbcType=VARCHAR},
      c_status = #{cStatus,jdbcType=CHAR},
      dt_create_time = #{dtCreateTime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>