<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %l %X{traceID} %X{callSystemID} %m%n"/>
        </Console>
        <!-- 配置失效转移 -->
        <Failover name="Failover" primary="RollingFile">
            <Failovers>
                <AppenderRef ref="Console" />
            </Failovers>
        </Failover>
    </Appenders>
    <Loggers>
        <logger name="org.springframework" level="error" />
        <logger name="org.apache.http" level="warn" />
        <logger name="org.apache.commons.httpclient" level="error" />
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>