<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<typeAliases>-->
        <!--<typeAlias alias="User" type="com.jzfq.rms.third.common.pojo.User"/>-->
    <!--</typeAliases>-->

    <!--<mappers>-->
        <!--<mapper resource="mybatis/userMapper.xml"/>-->
    <!--</mappers>-->

    <settings>
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <typeAliases>
        <package name="com.jzfq.rms.third.common.domain"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.jzfq.rms.third.persistence.interceptor.PageInterceptor">
            <property name="dbType" value="mysql"/>
        </plugin>
    </plugins>

</configuration>