<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- dao配置 -->
    <bean id="userDao" class="com.jzfq.rms.third.persistence.dao.pg.UserDaoImplByMybatis">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
        <property name="statementNamespace" value="User"/>
    </bean>
    <!-- dao配置结束 -->

    <!-- service配置 -->
    <bean id="userService" class="com.jzfq.rms.third.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <!-- service配置结束 -->
</beans>